@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes new-notification {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
